@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    /*--background: 0 0% 100%;
     --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%; */

    --background: 0 0% 100%;
    --foreground: 215 18% 18%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --header: 214 11% 9;

    --primary: 218 100% 37%;
    --primary-var: 214 98% 45%;
    --primary-1ig: 218 100% 81;
    --primary-drk: 218 100% 13%;
    --primary-bg: 219 100% 97%;
    --primary-foreground: 0 0% 98%;

    --secondary: 57 100% 50%;
    --secondary-lig: 57 100% 92%;
    --secondart-drk: 38 94% 37%;
    --secondary-bg: 56 100% 97%;
    --secondary-foreground: 215 18% 18%;

    --accent: 57 100% 50%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 160 60% 45%;
    --chart-4: 160 60% 45%;
    --chart-5: 160 60% 45%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    /* --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%; */
    /* --chart-5: 340 75% 55%; */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.font-oswald {
  font-family: var(--font-oswald);
}

/* headers */
.sub-header {
  @apply text-2xl py-2 text-start font-header;
}

.section-header {
  @apply text-header sm:text-3xl text-xl text-start py-8 w-full font-bold;
}

.page-header {
  @apply font-header text-2xl sm:text-3xl text-start py-2 w-full font-header;
}

.header {
  @apply text-header font-header;
}

section {
  @apply my-12;
}

/* icons */

.icon-sm {
  @apply w-3 h-3;
}

.icon-md {
  @apply w-4 h-4;
}

.icon-lg {
  @apply w-6 h-6;
}

.icon-xl {
  @apply w-8 h-8;
}
